@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;600&display=swap');


/* Parametres generaux */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body {

    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

.bg-container {
    background-image: url('../Ressources/coating/roses.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-container > * {
    margin: 0 5%;
    width:100%;
}



/* Header  */

h1{
    color: #0a0000;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    justify-content: center;
    text-shadow: 340px 225px 0px #D1897b;
   
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0);
    background: linear-gradient(#D1897B, rgba(0, 0, 0, 0.5));
    padding: 50px;
  }

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    box-shadow: (#D1897B, white);
  }

.navbar .menu-items {
    display: flex;
  }

.navbar .nav-container i {
    text-decoration: none;
    color: #0e2431;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

.navbar .nav-container i:hover{
    transform: scale(1.1);
    transform-origin: top right;
    color: rgb(255, 254, 254);   
}



.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .ligne-menu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .ligne-menu .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

.nav-container .ligne-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

.nav-container .ligne-menu .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
.nav-container .ligne-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 10px;
    box-shadow: inset 0 0 2000px (#D1897B, rgb(18, 16, 16));
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction:row;
    margin-left: 50px;
    padding-left: 50px;
    transition: transform 0.2s ease-in-out;
    text-align:center;
    justify-content: space-between;
    
    
  }

.navbar .menu-items i {
    margin-bottom: 1.2rem;
    font-size: 1 rem;
    transition: all 0s ease-out;  

  }

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

.nav-container input[type="checkbox"]:checked ~ .ligne-menu .line1 {
    transform: rotate(45deg);
  }

.nav-container input[type="checkbox"]:checked ~ .ligne-menu .line2 {
    transform: scaleY(0);
  }
  
.nav-container input[type="checkbox"]:checked ~ .ligne-menu .line3 {
    transform: rotate(-45deg);
  }

.CONTACTS{
    font-weight: bold;
}

#logo{
    max-width : 200px;
    height : auto;
    border-radius: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; top: 20px; left: 10px; 
    filter: drop-shadow(0 0 0.50rem #D1897B);
}

header a{
    display: flex;
    justify-content: center;

}


/* Parametres generaux articles */ 

.articles, .mosaique {
    gap:3%;
    padding: 10%;
}

.articles {
    background: linear-gradient(rgba(0, 0, 0, 0.5),#D1897B,rgba(0, 0, 0, 0.5));
    padding:5%;
    height:100%;
}

.articles img{
    width: 100%;
    height: 100%;
}


/* Article Biographie */

.bio-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;

}

.bio * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: #D1897B 0px 0 10px;
    color:white;
}

.bio h2 {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.bio p {
    height: 100%;
    font-size: 25px;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}

/* Premier article */

.portraits .mosaique {  
    display: grid;
    grid-template : repeat(5, 1fr) / repeat(3, 1fr);
}

.portraits .mosaique li {
    background-size: cover;
    list-style: none;
}

.portraits .mosaique li:first-child {
    grid-area: 1 / auto / span 4 / auto;
}

.portraits .mosaique li:last-child {
    grid-area: 2 / 3 / 6 / auto;
}

.portraits .mosaique li img:hover {
    opacity:70%;
    transform: scale(1.05);
}

/* Titre Portraits */

h2{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-shadow: #D1897B 0px 0 10px;
    color:white;
    display: flex;
    justify-content: center;
    padding:2% 0;
}

/* Photographe 2 */

.photographe-container{
    display: grid; 
    grid-template: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographe-container img{
    height: 100%;
    width: 50%;
   
    
}

h2{
    padding: 10%;
}


.photographe * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-shadow: #D1897B 0px 0 10px;
    color:white;
}

.photographe p{
    height: 100%;
    font-size: 20px;
    justify-content: space-around;
    text-align: end;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 50px;
    font-style: italic;
}





